# Ignore cloned dataset repo
/Hands-On-Artificial-Intelligence-for-Cybersecurity/

# Python
__pycache__/
*.pyc
.pytest_cache/

# Environments
.venv/
.env

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db
